PORT=5000
MONGO_URI=mongodb+srv://shreemangurram26_db_user:kMw11xzgEieBq866@cluster0.example.mongodb.net/ai-travel-planner?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d
